@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #020204;
    font-family: 'Jost', sans-serif;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    min-width: 200px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 10px;
    transition: background-color .2e ease;
}
.btn-main {
    background-color: #C7A17A;
}
.btn-secondary {
border: 1px solid #666681;
}

.btn-main:hover {
    background-color: #a88666;
}
.btn-secondary:hover {
    background-color: #666681;
}
.header {
    border-bottom: 1px solid #32323D;
}

.header__line {
    border-bottom: 1px solid #32323D;

}

.header__line-wrapper {
    height: 30px;
    /*padding: 6px 0;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__lng {
    display: flex;
}

.header__lng a {
    margin-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;

}
.header__lng a.active {
    color: #C7A17A;
}

.header__phone {
    font-weight: 600;
    font-size: 14px;
}

.header__wrapper {
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header__block {
    width: 40%;
}

.header__block.right {
    display: flex;
    justify-content: flex-end;
}
.nav {
    display: flex;
}
.nav__link {
    margin-right: 35px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .2c ease;
}

.nav__link:hover{
    color: #C7A17A;

}
.nav__link.active {
    color: #C7A17A;

}

.logo img {
    height: 54px;
}

.header__actions {
    display: flex;

}
.header__link {
    margin-right: 30px;
    position: relative;
}
.header__link:last-child {
    margin-right: 0;
}
.header__link-event {
    width: 6px;
    height: 6px;
    background-color: #C7A17A;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}



.intro {
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-bottom: 30px;
}
.intro:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(2, 2, 4, 0.55);
}

.intro__wrapper {
    padding: 20px;
    min-height: 720px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.intro__block {
    max-width: 565px;
} 
.intro__title {
    margin: 0 0 35px;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.4;
}

.intro__text {
font-size: 18px;
color: #DFDFDF;
margin: 0 0 35px;
}

.intro__actions .btn-main {
    display: flex;
    margin-right: 20px;
}
.intro__actions {
    display: flex;
}

.info__block {
    margin-bottom: 80px;
    display: flex;
    border-radius: 10px;
    background-color: #14141D;
}

.info__item {
padding: 30px;
}
.info__title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 1;
}
.info__text {
font-size: 18px;
color: #DFDFDF;
line-height: 1.45;
max-width: 500px;
}

.info__img-wrapper {
    position: relative;
}
.info__img-wrapper:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(2, 2, 4, 0.55);

}
.info__img {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block__title {
    margin: 0 0 40px    ;
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 1;

}

/*Products*/

.products__wrapper {
 display: flex;
 flex-wrap: wrap;
 margin: 0 -10px;
}
.products__block {
width: 33.33%;
padding: 0 10px;
margin-bottom: 20px;
}
.products__item {
padding: 20px;
background-color: #14141D;
border-radius: 10px;
transition: background-color .2s ease;
display: block;
}
.products__item:hover {
    background-color: #22222F;
}
.products__price {
font-size: 18px;
display: flex;

}
.products__price del {
    margin-left: 30px;
    color: #818181;
}
.products__favorite {
background: none;
padding: 0;
cursor: pointer;
border: 0;
}
.products__img {
max-height: 200px;
max-width: 100px;
margin: 0 auto 40px;
display: block;
}
.products__title {
    margin: 0 0 25px;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.4;
}
.products__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Products*/